ETSY_API_KEY=
ETSY_SHARED_SECRET=
ETSY_REDIRECT_URI=http://127.0.0.1:43127/api/etsy/callback
ETSY_ACCESS_TOKEN=
ETSY_REFRESH_TOKEN=
ETSY_USER_ID=
ETSY_SHOP_ID=
GELATO_API_KEY=
NEXT_PUBLIC_APP_URL=http://127.0.0.1:43127
